/*fuente general*/
* {
  font-family: 'Roboto', sans-serif; }

body {
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
  background-color: #d0d0d0; }

.grid-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr;
  grid-template-areas: "header header header" "main main main"; }

/*estilos header index*/
.header {
  grid-area: header;
  width: 100%;
  text-align: center; }
  .header h1 {
    color: #d0d0d0;
    background-color: #5a5a5a;
    padding: 0.3em;
    margin-top: 0.8em;
    font-size: 2em; }
  .header .parrafos {
    display: flex;
    justify-content: space-around;
    background-color: #5a5a5a;
    color: #d0d0d0;
    font-size: 1.5em;
    margin-top: 1.2em;
    padding: 0.5em;
    padding-top: 1em; }
  .header div img {
    margin-top: 1em;
    width: 100%;
    height: 100%; }

/*estilos main index*/
.main {
  grid-area: main;
  display: flex;
  margin-top: 2.5em; }
  .main .card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out; }
    .main .card .contenido-card {
      padding: 15px;
      text-align: center; }
      .main .card .contenido-card h2 {
        margin-bottom: 2.5em;
        color: #5a5a5a; }
      .main .card .contenido-card .botones {
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
        text-decoration: none;
        border-radius: 4px;
        transition: all 400ms ease;
        margin-bottom: 5px; }
      .main .card .contenido-card .botones {
        color: #44a970e0;
        border: 1px solid #44a970e0; }
      .main .card .contenido-card a:hover {
        background: #1E8449;
        color: #fff; }
      .main .card .contenido-card h1 {
        column-rule: black; }
    .main .card img {
      width: 100%;
      height: 100%; }
  .main .card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

/*estilos de navbar general*/
nav {
  background-color: #44a970e0;
  border-bottom: 2px solid #1E8449; }
  nav div .navbar-brand {
    transition: 0.5s; }
  nav div .navbar-brand:hover {
    transform: scale(1.2); }
  nav div a img {
    height: 100px;
    width: 150px;
    margin-left: 1em; }
  nav .nav-item {
    font-weight: bold;
    padding: 1em; }
  nav .nav-item:hover {
    transform: scale(1.2);
    cursor: pointer; }

/*nosotros*/
main .div-nosotros {
  display: flex;
  padding: 1em;
  margin: 2.5em; }

/*productos*/
.main-productos {
  text-align: center; }
  .main-productos div {
    margin-bottom: 3em; }

/*footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  height: 3em; }
  .footer p {
    text-align: center;
    margin: 1em;
    color: #d0d0d0;
    font-weight: bold; }

@media only screen and (max-width: 425px) {
  .header h1 {
    margin-top: 1em;
    font-size: 1.5em; }
  .header .parrafos {
    margin-top: 5em;
    margin-bottom: 5em; }
    .header .parrafos p {
      font-size: 0.5em; }
  .main {
    flex-wrap: wrap; } }

@media only screen and (max-width: 800px) {
  .header h1 {
    font-size: 1.3em; }
  .header .parrafos {
    font-size: 1.2em; }
  .main {
    flex-wrap: wrap; } }
